/* basics */
html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    position: relative;
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-areas: "header_aside header"
    "header_aside hero"
    ". about_me"
    ". projects"
    ". footer";
    background: var(--color_backgroundHero);
}


* {
    box-sizing: border-box;
}

figure{
    margin: 0;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.title{
    color: var(--color_font);
    font-size: 4rem;
    font-weight: bold;
}

@media (--medium-portrait){
    body{
        grid-template-columns: 8rem 1fr;
        grid-template-areas: "header_aside header"
        "hero hero"
        "about_me about_me"
        "projects projects"
        "footer footer";
    }
}

@media (--small){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
        "hero"
        "about_me"
        "projects"
        "footer";
    }
}

@media (--extra-small){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
        "hero"
        "about_me"
        "projects"
        "footer";
    }
}