.footer{
    grid-area: footer;
    padding: .2rem 2rem;
    background-color: var(--color_backgroundRed);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p{
        font-size: 1.2rem;
        color: var(--color_backgroundWhite);
        font-weight: bold;
    }

    & p:last-child{
        & a{
            text-decoration: none;
            color: var(--color_backgroundWhite);
            transition: .2s ease-in;
        }

        & a:hover{
            color: var(--color_font);
        }
    }
}